.about-container {
    text-align: center;
    padding: 20px;
  
    .about-sections {
      display: flex;
      flex-direction: column;
      gap: 20px;
  

      .dropdown &.open .dropdown-content {
        height : 100px;
      }
    }
}
  

  @media (min-width: 768px) {

    .about-sections {
      width: 80%;
      margin: auto;
    }
  }