.body-div {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  .logements {
    display: grid;
    gap: 20px;
  
    .logement-card {
      background-size: cover; /* L'image remplit tout l'espace */
      background-position: center; /* Centre l'image */
      position: relative;
      border-radius: 10px;
      color: white;
      font-weight: 500;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; /* Aligne le titre en bas */
      overflow: hidden;
      height: 255px; /* Définit une hauteur fixe */
      padding: 10px; /* Ajoute de l'espace pour le titre */
  
      h3 {
        margin: 0;
        font-size: 18px;
        z-index: 2;
      }
  
      /* Couche de dégradé pour lisibilité du texte */
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6), /* Dégradé clair en haut */
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6) /* Dégradé sombre en bas */
      );
        z-index: 1;
      }
    }
  }
  
  
  
  

  @media (min-width: 768px) {
    
    .logements {
      background-color: #F6F6F6;
      grid-template-columns: repeat(2, 1fr); /* 3 colonnes de largeur égale */
       /* Espacement entre les cards */
      padding: 40px;
      border-radius: 25px;

      
    }

  }

  @media (min-width: 1200px) {
    .logements {
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
      /*gap: 40px; */

      .logement-card {
        height : 340px;
        width: 340px;
      }
    }


  }
  