.logement-container {
  
  .logement-infos {
    margin: 20px 0;
  }
  
    .logement-info {
  
      .logement-title {
        font-size: 1.5rem;
        color: #ff6060;
      }
  
      .logement-location {
        font-size: 1rem;
        color: #767676;
      }
      
      .tags {
        display: flex;
        gap: 10px;
        margin-top: 10px;
  
        .tag {
          display: flex;
          align-items: center;
          background-color: #ff6060;
          color: white;
          padding: 4px 10px;
          border-radius: 5px;
          font-size: 0.7rem;
          text-align: center;
        }
      }
      
    }
  

    .logement-details {
      align-items: center;
      margin: 10px 0;
  
      .rating {
        display: flex;
  
        .star {
          width: 18px;
        }
      }

      .host {
        display: flex;
        align-items: center;
        gap: 10px;
  
        p {
          font-weight: bold;
          margin-bottom: 0;
        }
  
        .host-picture {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }



  
    
      
  }
  

  @media (min-width: 768px) {


   .logement-container {
    .logement-details {
      .rating {
        margin-top: 10px;
  
        .star {
          width: 36px;
        }
      }
      .host > .host-picture {
        width: 64px;
        height: 64px;
      }
    }
    
   }

    .logement-container .logement-info .logement-title {
      font-size: 1.5rem;
    }

    .logement-details .tags .tag {
      font-size: 0.9rem;
      border-radius: 10px;
    }   

  }