.dropdown {
    
    .dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
      background-color: #ff6060;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      .vector-icon {
        width: 20px;
        transition: transform 0.3s ease; 
      }
    }
  
    .dropdown-content {
      max-height: 0; 
      overflow: hidden; 
      padding: 0 10px; 
      background-color: #f6f6f6;
      border-radius: 5px;
      transform: translateY(-5px); 
      transition: max-height 0.4s ease, transform 0.3s ease; 
  
      ul {
        list-style: none;
        padding: 10px 0;

        li {
          font-size: 0.8rem;
        }
      }

      p {
        padding: 10px 0;
        font-size: 0.8rem;
      }
    }
  
    
    &.open {
      .dropdown-content {
        max-height: 500px;
        transform: translateY(0); 
        padding: 10px; 
      }
  
      .dropdown-button img {
        transform: rotate(-180deg);
      }
    }
  }
  
  .dropdown-container {
    gap: 20px;
  }

  @media (min-width: 768px) {
    .dropdown-container {
        gap: 0;
      }

      .dropdown {
        &.open {
          .dropdown-content {
            height: 160px;

            ul {    
              li {
                font-size: 0.9rem;
              }
            }
      
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
      
        
  }