.dropdown {
    
    .dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
      background-color: #ff6060;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      .vector-icon {
        width: 20px;
        transition: transform 0.3s ease; /* Transition fluide */
      }
    }
  
    .dropdown-content {
      max-height: 0; /* Cache le contenu */
      overflow: hidden; /* Évite que le contenu déborde */
      padding: 0 10px; /* Réinitialise le padding pour éviter les sauts */
      background-color: #f6f6f6;
      border-radius: 5px;
      transform: translateY(-5px); /* Position de départ */
      transition: max-height 0.4s ease, transform 0.3s ease; /* Supprimé opacity */
  
      ul {
        list-style: none;
        padding: 10px 0;

        li {
          font-size: 0.8rem;
        }
      }

      p {
        padding: 10px 0;
        font-size: 0.8rem;
      }
    }
  
    /* État ouvert */
    &.open {
      .dropdown-content {
        max-height: 500px; /* Une valeur suffisante pour contenir le contenu */
        transform: translateY(0); /* Position normale */
        padding: 10px; /* Rétablit le padding */
      }
  
      .dropdown-button img {
        transform: rotate(-180deg); /* Rotation de l'icône */
      }
    }
  }
  
  .dropdown-container {
    gap: 20px;
  }

  @media (min-width: 768px) {
    .dropdown-container {
        gap: 0;
      }

      .dropdown {
        &.open {
          .dropdown-content {
            height: 210px;

            ul {    
              li {
                font-size: 0.9rem;
              }
            }
      
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
      
        
  }